* {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  margin-top: 1vw;
  width: 100%;
  height: 5vw;
  font-size: 2vw;
  color: khaki;
  text-align: center;
  line-height: 5vw;
  font-weight: bold;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}
p span {
  font-weight: bold;
  color: blue;
}
figcaption,
section.h2,
p span,
header {
  font-weight: bold;
}

section h2 {
  font-size: 32px;
  color: white;
  padding-left: 0.5vw;
}
#brushes h2 {
  background-color: mediumspringgreen;
}
#frames h2 {
  background-color: lightcoral;
}
#paint h2 {
  background-color: skyblue;
}
footer {
  margin-top: 3vw;
}
img {
  border: 1px solid;
  padding: 0.5vw;
}
figure {
  margin: 0;
}
